# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE configurations
.vscode/
.idea/
*.swp
*.swo

# Ignore ROS build artifacts (if any are built locally)
devel/
build/
# logs/
.catkin_tools/

# Do not ignore spooder_training logs and checkpoints
!spooder_training/logs/
